@import '../../estilo/master';
#agendaHorario{
    padding: 2%;
    div:first-child{
        h3{
            font-size: @font-size * 2;
            color: @letra;
            text-shadow: @letra 1px 1px 2px;
            padding-left: 8%;
        }
        padding: 1% 0.5%;
    }
    div{
        display: inline-flex;
    }
    div:last-child{
        display: table;
    }
}