@import "/~/src/app/estilo/variaveis.less";
nav{
  margin: 0;
  color:@letra-branca;
  ul{
    list-style: none;
    text-transform: uppercase;
    li{
      display: inline-flex;
      margin: 0 1% 0;
    }
  }
  background-color: @cor-um;
  border-bottom: dotted @cor-dois 5px;
}