@import "../../estilo/variaveis";
@import "../../estilo/funcao";

@cor-placas: @cor-dois;

footer{
  background-color: @cor-um;
  border-top: @cor-dois dotted 5px;
  color: @letra-branca;
  font-family: @fonte;
  div{
    padding: 1%;
    display: inline-block;
    width: 25%;
  }
  div:last-child{
    flex: available;
    width: 50%;
  }
  ul{
    list-style-type: none;
  }
  div:first-child{
    ul{
    list-style-type: none;
      li{
        text-transform: capitalize;
        border: grey 1px solid;
        box-shadow: grey 1px 1px 3px;
        margin: 4px 0 4px;
        width: 40%;
        font-family: cursive;
        text-align: center;
        background-color: @cor-placas;
        border-left: 5px solid gray;
        border-radius: 5px 10px 15px 5px;
        animation-duration: 1s;
        transform: rotate(-5deg);
        a{
          padding: 2%;
          width: 100%;
          color: @letra-branca;
        }
      }
      li:nth-child(1){
        transform: rotate(-8deg);
      }
      li:nth-child(2){
        transform: rotate(3deg);
      }
      li:nth-child(3){
        transform: rotate(7deg);
      }
      li:hover{
        transform: rotate(0deg);
      }
    }
  }

  a{
    .antiLink();
  }
}
