.botao(@cor){
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: @cor;
  color: @letra;
  border-radius: 10px;
  border: none;
}

.antiLink(){
  text-decoration: none;
  color:@letra;
}
.antiLink(@cor){
  text-decoration: none;
  color:@cor;
}
/**
Faixa de texto sobre a imagem ou bloco que precisa ser sobreposta
 */
.FaixaSobreTexto(@index,@DisTop,@FSize,@LCor,@FCor,@SCor){
  color: @LCor;
  z-index: @index;
  top: @DisTop;
  font-size: @FSize;
  position: absolute;
  text-align: left;
  font-weight: bold;
  text-shadow: @SCor 2px 2px 2px;
  background-color: @FCor;
  padding: 2% 2% 2% 1%;
  .antiLink(@LCor);
}
